@import 'utilities.css';
*{
    
    padding: 0px;
    margin: 0px;
    background: black;

}
body{
    font-family: 'Poppins', sans-serif;
    color: white;
    
}
header{
   
   /*clip-path:polygon(0 0,100% 0,100% 100%,70% 90%,0 100%);*/
   
  
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
header nav .left a:hover{
    color: aqua;
}
header nav .left a{
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    transition: all .2sec;
    text-transform: uppercase;
}
header nav .brand{
    margin-right: 3rem;
}
.photo .left img{
    height: 500px;
    width: 400px;
}
.photo .right h2{
    color: aqua;
    margin: 0.5rem;
}
.photo .right h3{
   
    margin: 0.5rem;
}
.photo .right h6{
    
    margin: 0.5rem;
}
.photo .right p{
    margin: 0.5rem;
}
    
.brand img{
    height: 100px;
    width: 100px;
}
.photo .right{
    margin-top: -7rem;
}
footer{
    justify-content: center;
}
section .foot img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    
}
section{
    background-color: black;
    text-align: center;
    padding-bottom: 30px;
}
section table{
    margin-left: auto;
    margin-right: auto;
    
}
section table,th,td{
   
    /*border: 1px solid aqua;*/
    padding: 7px;
    
}
section h3{
    color: aqua;
    margin-bottom: 5px;
    
    
}
section ul{
    list-style: none;
}
.history{
    
    padding-left: 150px;
}


  section .container img {
    width: 300px;
    height: 200px;
    
    margin-top: 35px;
    border-radius: 10px;
  }
  section .container img:hover{
   transform: scale(1.1);
  }


  
  .leftpane {
      width: 33.3333333%;
      height: 50%;
      float: left;
      background-color: rgb(31, 30, 30);
      border-collapse: collapse;
      border-radius: 10px;
  }
  
  .middlepane {
      width: 33.3333333%;
      height: 50%;
      float: left;
      background-color: rgb(80, 79, 79);
      border-collapse: collapse;
      border-radius: 10px;
  }
  .rightpane {
    width: 33.3333333%;
    height: 50%;
    position: relative;
    float: right;
    background-color: rgb(100, 98, 98);
    border-collapse: collapse;
    border-radius: 10px;
  }
 
  